<h3>Our Incredible Members </h3>



<div class="center">
  <% @users.each do |user| %>
  
   <div class="row">
        <div class="well col-md-4 col-md-offset-4">
          
          <%= link_to user.user_id, user_path(user) %>
         
        </div>
   </div>
 
 <%end%>


</div>
 <div align="center">
  <%= will_paginate @user %>
</div>