@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron { 
              
               
}
#box1 {
  background-image: asset-url('crazygirls.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  margin-top: 140px;
  margin-left: 30px;
  height: 200px;
  width : 450px;
}
#box2 {
  float: right;
 margin-top: 20px;
  margin-right: 30px;
  width : 500px;
  height: 450px;
  
 
  
}
  

.container {height: 500px;}